.video { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   text-align: center;
}

img {
    margin: 0 auto;
}

.center{
   text-align:center;
   }
    
p {
    font-family: "Courier New", Courier, monospace;
}

iframe { 
    position: relative; 
   width: 100%; /* for IE 6 */
   }
