.video { 
   position: relative; 
   width: 100%; /* for IE 6 */
}
body {
  background-color: #ffffff;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 18px;
  color: #000000;
  margin-left: 4%;
}

html,
body {
  height: 100%;
}

h2 { 
   text-align: center;
}

img {
    margin: auto;
}

.center{
   text-align: center;
   
}
    
p {
    font-family: "Courier New", Courier, monospace;
}

pre {
    font-family: "Karla", sans-serif;
    font-size: 14px;
    color: #000000;
}

iframe { 
    position: relative; 
   width: 100%; /* for IE 6 */
   }
